<h2> Hi {{first_name}}, </h2>

<p> Thanks for sending in your information to Big Brothers Big Sisters Middle Tennessee! We are so excited you are becoming a big with us. An admin will review your application and approve you within the next 48 hours.
  In the meantime kickback and relax your little is so excited to meet you. If you have any questions please reach out to Stephanie Winn at (615) 881-2748.  </p>

  <br>

  <p>
    Stephanie Winn
    Chief Officer of Puzzles and Fun Stuff
    (615) 881-2748
  </p>
